src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <apikit:config name="ic-db-accounts-raml-config" api="ic-db-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="ic-db-accounts-raml-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ic-db-accounts-raml-config" />
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="ic-db-accounts-raml-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ic-db-accounts-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\account\(ID):application\json:ic-db-accounts-raml-config">
		<flow-ref doc:name="Ref Put By Id Flow" doc:id="abaad796-0bbc-40db-9383-910864219be9" name="updateAccountByIdImplementation"/>
    </flow>
    <flow name="delete:\account\(ID):ic-db-accounts-raml-config">
        <flow-ref doc:name="Ref Delete By Id Flow" doc:id="3492e35d-720e-468c-bda0-9efd0bf876aa" name="delete_Account_By_Id_Implementation" />
    </flow>
    <flow name="get:\account:ic-db-accounts-raml-config">
        <flow-ref doc:name="Ref to Get Accounts Flow" doc:id="ac8312ba-c03e-4528-a9d1-21ba140c11bf" name="getAllAccountsSubFlow" />
    </flow>
    <flow name="get:\account\(ID):ic-db-accounts-raml-config">
        <flow-ref doc:name="Ref Get By Id Flow" doc:id="ab9ebc0a-1a07-4bb1-a530-b9605d364615" name="get_Account_By_Id_Implementation" />
    </flow>
    <flow name="post:\account:application\json:ic-db-accounts-raml-config">
		<flow-ref doc:name="Ref Post Account Flow" doc:id="46a15089-3349-4879-82ba-4cec5e9d0ca6" name="create-accounts-implementation"/>
    </flow>
</mule>
